
<div class="modal-backdrop opacity is-hidden" team-data>
    <div class="modal-window">
        <button type="button" class="team-close" team-data-close>
            <svg class="svg-team"  width="10" height="10">
                <use href="./images/svg/heart.svg"></use>
            </svg>
        </button>
        
        <div class ="team__container">
            <ul class="card-set">
                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"  src="./images/team/Yuriiy Lid.jpg">
                        
                        <div class="card-content">
                            <h2 class="card-content__name">Yuriy Radulov</h2>
                            <p class="card-content__text">Team-lead/developer</p>
                        </div>
                    </a>
                </li>
                
                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Anna.jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Anna Zaluzhnaya</h2>
                            <p class="card-content__text">Scrum/developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Evgeniiy.jpg" >
                
                        <div class="card-content">
                            <h2 class="card-content__name">Yevhenii Kononets</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Alex.jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Aleksey Samchik</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Dima.jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Dmytro Khomenko</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/Roman.jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Roman Havrylenko</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Maksim.jpg" >
                
                        <div class="card-content">
                            <h2 class="card-content__name">Maksym Berezhnoi</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li> 

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Matvey Rubec</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Oksana Vovk</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Yuriy Brovko</h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name">Nikolay </h2>
                            <p class="card-content__text">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <!-- <img class="card-set__image" src="./images/team/to be continued.jpg"> -->
                
                        <div class="card-content content_end">
                            <p class="card-content__end">TO BE CONTINUED...</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

