
<div class="modal-backdrop opacity is-hidden" team-data>
    <div class="modal-window">
        <button type="button" class="team-close" team-data-close>
            <svg class="svg-team"  width="10" height="10">
                <use href="./images/svg/heart.svg"></use>
            </svg>
        </button>
        
        <div class ="team__container">
            <ul class="card-set">
                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image"  src="./images/team/Yuriiy Lid.jpg">

                        
                        <div class="card-content">
                            <h2 class="card-content__name lang-name1">Yuriy Radulov</h2>
                            <p class="card-content__text lang-team">Team-lead/developer</p>
                        </div>
                    </a>
                </li>
                
                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image"src="./images/team/Anna.jpg">

                
                        <div class="card-content">
                            <h2 class="card-content__name lang-anna lang-name2">Anna Zaluzhnaya</h2>
                            <p class="card-content__text lang-scrum">Scrum/developer</p>
                        </div>
                    </a>
                </li>


                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Evgeniiy.jpg" >
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name3">Yevhenii Kononets</h2>
                            <p class="card-content__text lang-dev1">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Alex.jpg">
                
                        <div class="card-content">

                            <h2 class="card-content__name lang-name4">Aleksey Samchik</h2>
                            <p class="card-content__text lang-dev2">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image"src="./images/team/Dima.jpg">

                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name5">Dmytro Khomenko</h2>
                            <p class="card-content__text lang-dev3">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image" src="./images/team/Roman.jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name6">Roman Havrylenko</h2>
                            <p class="card-content__text lang-dev4">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image"src="./images/team/Maksim.jpg" >

                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name7">Maksym Berezhnoi</h2>
                            <p class="card-content__text lang-dev5">developer</p>
                        </div>
                    </a>
                </li> 


                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name8">Matvey Rubec</h2>
                            <p class="card-content__text lang-dev6">developer</p>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">
                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name9">Oksana Vovk</h2>
                            <p class="card-content__text lang-dev7">developer</p>

                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name10">Yuriy Brovko</h2>
                            <p class="card-content__text lang-dev8">developer</p>

                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <img class="card-set__image" src="./images/team/pngtree-cute-hand-painted-pink-orange-doughnuts-png-image_961162 (1).jpg">
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name11">Nikolay Chernetskiy</h2>
                            <p class="card-content__text lang-dev9">developer</p>

                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="" class="card-set__link">

                        <!-- <img class="card-set__image" src="./images/team/to be continued.jpg"> -->
                
                        <div class="card-content content_end">
                            <p class="card-content__end lang-tobe">TO BE CONTINUED...</p>
                        </div>
                    </a>
                </li>


            </ul>
        </div>

    </div>
</div>

