
<div class="modal-backdrop opacity" team-data>
    <div class="modal-window">
        <button type="button" class="team-close" team-data-close>
            <svg class="svg-team"  width="10" height="10">
                <use href="./images/svg/heart.svg"></use>
            </svg>
        </button>
        
        <div class ="team__container">
            <h2 class="section-header">TEAM НАЗВАНИЕ</h2>
            <ul class="people-list">
                <li class="people-list__item">
                    <img src="./images/team/Anna.jpg" alt="Anna Zaluzhnaya" width="250" >
                    <div class="content">
                        <h3 class="content__name">Anna Zaluzhnaya</h3>
                        <p lang="en" class="content__profession">Scrum/developer</p>
                    </div>
                </li>

                <li class="people-list__item">
                    <img src="./images/team/Yuriiy Lid.jpg" alt="Yuriy Radulov" width="250">
                    <div class="content">
                        <h3 class="content__name">Yuriy Radulov</h3>
                        <p lang="en" class="content__profession">Team-lead/developer</p>
                    </div>
                </li>

                <!-- <li class="people-list__item">
                    <img src="./images/team/Evgeniiy.jpg" alt="Yevhenii Kononets" width="250">
                    <div class="content">
                        <h3 class="content__name">Yevhenii Kononets</h3>
                        <p lang="en" class="content__profession">developer</p>
                    </div>
                </li> -->

                <!-- <li class="people-list__item">
                    <img class='image' src="./images/team/Alex.jpg" alt="Aleksey Samchik" width="250">
                    <div class="content">
                        <h3 class="content__name">Aleksey Samchik</h3>
                        <p lang="en" class="content__profession">developer</p>
                    </div>
                </li> -->

                
            </ul>
            
                
        </div>

    </div>
</div>