// ========================
//  кнопка регистрації
.sign-up-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: getColor('white-color');
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid getColor('pin-color');
  border-radius: 7px;
  width: 65px;
  height: 30px;
  position: absolute;
  right: 76;
  top: -11px;
  &:focus,
  &:hover {
    // border: 3px solid getColor('btn-color');
    // color: getColor('btn-color');
    background-color: getColor('pin-color');
  }
  @media screen and (max-width: 767px) {
    // width: 65px;
    // right: 75;
    top: -40px;
  }
}

.sign-in-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: getColor('white-color');
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid getColor('pin-color');
  border-radius: 7px;
  width: 65px;
  height: 30px;
  position: absolute;
  right: 1px;
  top: -11px;
  &:focus,
  &:hover {
    // border: 3px solid getColor('btn-color');
    // color: getColor('btn-color');
    background-color: getColor('pin-color');
  }
  @media screen and (max-width: 767px) {
    // width: 65px;
    top: -40px;
  }
}

.boxLoginLogout {
  position: absolute;
  right: -50px;
  top: -9px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding-bottom: 50px;
  padding-right: 50px;
  @media screen and (max-width: 767px) {
    top: -40px;
  }
}
.btnLoginLogout {
  // margin: 0 20px;
  // padding: 10px;
  margin-right: 1px;
  margin-left: 5px;
  color: getColor('white-color');

  text-transform: uppercase;
  border: 1px solid getColor('pin-color');
  border-radius: 7px;
  width: 65px;
  height: 30px;
  // border-radius: 20px;
  // background: getColor('pin-color');
  background-color: transparent;
  &:focus,
  &:hover {
    background-color: getColor('pin-color');
  }
}

.logOutName {
  padding-right: 10px;
  padding-top: 20px;
  color: getColor('white-color');
}

.signUp__btnClose,
.signIn__btnClose {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 40px;
  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;

  &:hover {
    color: rgb(255, 106, 0);
  }
}
